---
export interface Props {
  href: string;
  fontSize?: string;
  name: string;
}

const { href, fontSize, name } = Astro.props;
---

<a href={href} class="external-link" rel="noopener noreferrer">{name}</a>

<style define:vars={{ fontSize }}>
  a {
    color: var(--color-purple-light);
    font-size: var(--fontSize);
  }

  a::after {
    content: " ↪";
  }

  @media (prefers-color-scheme: light) {
    a {
      color: var(--color-purple-dark);
    }
  }
</style>
